body {
  background-image: url("https://www.freevector.com/uploads/vector/preview/19038/DD-Forest-Background-67704-Preview.jpg");
    background-blend-mode: multiply;
    background-color: #bfbfbf;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

img#hiker {
  background: transparent;
  margin: 5%;
  height: 65%;
  width: 65%;
}

img#angryBear {
  height: 80%;
  width: 80%;
}

button {
  margin-top: 1px;
  margin-bottom: 1px;
}

#space {
  margin-bottom: 150px;
}

/* #hunger {
  border-style: solid;
  border-radius: 10%;
  border-color: white;
} */

/* #hungryBear {

} */
